[Unit]
Description=MiniCRM (Node)
After=network.target

[Service]
Type=simple
User=server
WorkingDirectory=/home/server/minicrm
ExecStart=/usr/bin/node /home/server/minicrm/server.js
Restart=always
RestartSec=3
Environment=NODE_ENV=production
Environment=SESSION_SECRET=qr_lab_super_secret_2026
Environment=ADMIN_EMAIL=admin@qr-lab.ro
Environment=ADMIN_PASSWORD=ParolaSigura123

[Install]
WantedBy=multi-user.target
